

.hero-section{
    padding-top: 60px !important;
    padding-bottom: 60px;
 }




/* ========================
MEDIA QUeary
================================*/

@media (max-width: 768px) {

 .hero-cstm-btn{
    font-size: 14px;
    font-weight: 600;
 }}

 

